.wrap {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .loginLeft {
    flex: 45%;
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loginLeftContent{
      max-width: 80%;
      width: 100%;
    .heading {
      font-size: 28px;
      margin-bottom: 32px;
      color: #1d1d1d;
      font-weight: 600;
      text-align: center;
    }
    :global {
      .form-control {
        min-height: 50px !important;
        border: 1px solid #d4b768;
      }
      .input-group{
        min-height: 50px !important;
        border: 1px solid #d4b768;
        border-radius: 0.375rem;
        .form-control{
          border: none;
        }
        .password-btn{
          background: none;
          box-shadow: none;
          outline: none;
          border: none;
          color: #d4b768;
        }
        &:focus {
          color: #000000;
          background-color: #fff;
          border-color: #d4b768;
          outline: 0;
          box-shadow: none; 
        }
      }
      .form-check-input {
        border: 1px solid #d4b768;
      }
      .form-control:focus {
        color: #000000;
        background-color: #fff;
        border-color: #d4b768;
        outline: 0;
        box-shadow: none;
      }
      .form-check-input:checked {
        background-color: #d4b768;
        border-color: #d4b768;
        box-shadow: none;
      }
      .form-check-input:focus {
        border-color: #d4b768;
        outline: 0;
        box-shadow: none;
      }
    }
    .loginBtnWrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    .loginBtn {
      background-color: #d4b768;
      border: 1px solid #d4b768;
      outline: none;
      box-shadow: none;
      border-radius: 8px;
      margin: 0 auto;
      width: 100px;
      &:hover {
        background-color: transparent;
        color: #d4b768;
      }
    }
  }
  }
  .createAccountWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px auto;
    span {
      color: #1d1d1d;
      font-size: 16px
    }
    a{
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
    }
  }
  }
  .loginRight{
    height: inherit;
    min-height: inherit;
    flex: 55%;
    background-image: linear-gradient(180deg,#fef6ed,hsla(0,0%,100%,0) 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mainblock {
      max-width: 570px;
      margin: 0 auto;
      .main {
        width: 100%;
        height: auto;
      }
    }
  }
  :global {
    .react-tel-input .country-list .country .dial-code {
      color: #000000 !important;
    }
    .react-tel-input {
      width: 100%;
      border-radius: 5px;
      background-color: #d4b768;

      .flag-dropdown {
        .selected-flag:focus {
          background-color: #d4b768 !important;
        }
        .selected-flag:hover {
          background-color: #d4b768 !important;
        }
        .country-list {
          background-color: #ffffff !important;
          color: #000000 !important;
          border: 1px solid grey;
          border-radius: 10px;

          .country.highlight {
            background-color: #d4b768;
            color: #fcfcfc;
          }
          .country:hover {
            background-color: #d4b768;

            color: #000000 !important;
            .dial-code:hover {
              color: #000000 !important;
            }
          }
        }
        .flag-dropdown.open {
          background-color: #1d1d1d !important;
          margin-bottom: 15px !important;
          .selected-flag {
            background-color: #d4b768 !important;
            &:focus {
              background: #d4b768 !important;
            }
            &:hover {
              background: #d4b768 !important;
            }
          }
        }
      }
      .form-control {
        min-height: 48px;
        width: 100%;
        border: 1px solid #d4b768;
        transition: none !important;
        color: #000000 !important;
        font-weight: 300 !important;
        font-size: 18px !important;
        padding-left: 45px !important;
        .flag-dropdown {
          outline: none !important;
          background: #d4b768 !important;
        }
      }
      .form-control:focus {
        outline: none !important;
        box-shadow: none !important;
      }
      .flag-dropdown {
        background-color: #d4b768 !important;
        border: none !important;
        &:hover {
          background: #d4b768 !important;
        }
        &.open {
        .selected-flag{
          background-color: #d4b768;
        }
      }
      }
    }
  }
}
@media (max-width: 992px) {
  .wrap {
      .heading{
            text-align: center;
      }
      .loginRight {
        display: none;
      }
      .button {
       display: flex;
        justify-content: center;
      }
    }
  }