.detailStepperWrapper{
    padding: 100px 0 100px 0;
    background-color: #fcfcfc;
    .stepperBtnsWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .stepperBackBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            background-color: #fff;
            border: 2px solid #d4b768;
            border-radius: 50px;
            text-decoration: none;
            padding: 10px 32px;
            margin: 0px 0px 32px;
            transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
            cursor: pointer;
            max-width: 280px;
            outline: none;
            color: #d4b768;
            font-size: 16px;
            font-weight: 600;
            .icon {
              font-size: 20px;
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #d4b768;
              font-weight: 700;
            }
            &:hover {
              background-color: #fff;
              color: #d4b768;
              .icon {
                color: #d4b768;
                transform: translate(-10px, 0);
                transition: transform 0.3s ease 0s;
              }
            }
          }
        .stepperNextBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            background-color: #d4b768;
            border: 2px solid #d4b768;
            border-radius: 50px;
            text-decoration: none;
            padding: 10px 32px;
            margin: 0px 0px 32px;
            transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
            cursor: pointer;
            max-width: 280px;
            outline: none;
            color: #fff;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            .icon {
              font-size: 20px;
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-weight: 700;
            }
            &:hover {
              background-color: #fff;
              color: #d4b768;
              .icon {
                color: #d4b768;
                transform: translate(10px, 0);
                transition: transform 0.3s ease 0s;
              }
            }
          }
    }
}