.stepWrapper {
    .detailCardDesciption{
        font-size: 16px;
        color: #4e4e4e;
    }
    .infoTitle{
        color: #1d1d1d;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    .detailCardFieldsWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 30px;
        .inpField{
            max-width: 47%;
            width: 100%;
        }
    }
    :global{
        .form-check-input {
            outline: 10px solid rgba(221, 221, 221, 0.7);
            box-shadow: none;
            margin-right: 20px;
            cursor: pointer;
          }
          .form-check-input:checked {
            background-color: #d4b768;
            box-shadow: none;
            background-image: none;
            border: none;
          }
    }
}