.wrap {
  background-image: linear-gradient(rgb(254, 246, 237) 4%, rgba(255, 255, 255, 0) 99%) !important;
  padding: 100px 0;
  .row {
    align-items: center;
    .textblock {
      .heading {
        font-weight: 600;
        font-size: 40px;
        color: #1d1d1d;
        margin: 0 0 32px 0;
      }
      .tagline {
        max-width: 550px;
        font-weight: 400;
        font-size: 20px;
        color: #7a7a7a;
        margin-bottom: 0;
      }
    }
    .registerNowContent{
      margin-top: 24px;
      .btn {
          margin-top: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
          background-color: #d4b768;
          border: 2px solid #d4b768;
          border-radius: 50px;
          text-decoration: none;
          padding: 10px 12px;
          margin: 16px 0px 32px;
          transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
          max-width: 350px;
          outline: none;
          color: #fff;
          font-size: 16px;
          text-align: center;
          font-weight: 700;
          .icon {
            font-size: 20px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 700;
          }
          &:hover {
            background-color: #fff;
            color: #d4b768;
            .icon {
              color: #d4b768;
              transform: translate(10px, 0);
              transition: transform 0.3s ease 0s;
            }
          }
        }

    }
    .mainblock {
      .main {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
@media (max-width: 992px) {
  .wrap {
    .row {
      flex-direction: column-reverse;
      .textblock{
        padding: 50px 0;
        .heading{
            text-align: center;
        }
        .tagline{
            max-width: 100%;
            padding: 0 15px;
            text-align: center;
        }
      }
      .registerNowContent{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
      }
    }
  }
}