.tableWrapper {
  table {
    thead {
      background-color: #f6f9ff;
      tr {
        th {
          min-width: 100px;
          white-space: nowrap;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    tbody {
      td {
        font-size: 14px;
      }
      .tableActionsWrapper {
        button {
          color: inherit;
          all: unset;
          cursor: pointer;
          min-width: 30px;
          text-align: center;
          &:active {
            background: none;
            color: #d4b768;
          }
        }
      }
    }
  }
  :global {
    .dropdown {
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        padding: 0;
        .dropdown-item {
          padding: 10px 20px;
          font-weight: 500;
          @media (max-width: 992px) {
            text-align: center;
          }
          border-radius: 0;
          &:first-child {
            border-top-left-radius: 0.32rem;
            border-top-right-radius: 0.32rem;
          }
          &:last-child {
            border-bottom-left-radius: 0.32rem;
            border-bottom-right-radius: 0.32rem;
          }
        }
        .dropdown-item:hover {
          background-color: #d4b768 !important;
          color: #fff;
        }
      }
    }
  }
}
.orderDetail {
  .inputFieldLabel {
    margin-bottom: 4px;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
  }
  .customBtn {
    background-color: #d4b768;
    border: 2px solid #d4b768;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: max-content;
    min-width: 100px;
    &:hover {
      background-color: #fff;
      color: #d4b768;
    }
    &:focus {
      border-color: #d4b768;
    }
  }
  .uploadedFileInp {
    width: 100%;
    box-shadow: none;
    color: #1d1d1d;
    height: 48px;
    background-color: #fcfcfc;
    border: 1px solid #d4b768;
    border-radius: 5px;
    color: #1d1d1d;
    display: flex;
    font-size: 16px;
    padding: 12px 24px;
  }
  .uploadedFileLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    color: #1d1d1d;
  }
  .deleteUploadedFile {
    color: #d4b768;
    cursor: pointer;
    svg {
      font-size: 34px;
      margin-bottom: 2px;
    }
  }
  .inputPhone {
    margin-bottom: 4px;
    color: #7a7a7a;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
  }
  :global {
    .react-tel-input .country-list .country .dial-code {
      color: #000000 !important;
    }
    .react-tel-input {
      width: 100%;
      border-radius: 5px;
      background-color: #d4b768;

      .flag-dropdown {
        .selected-flag:focus {
          background-color: #d4b768 !important;
        }
        .selected-flag:hover {
          background-color: #d4b768 !important;
        }
        .country-list {
          background-color: #ffffff !important;
          color: #000000 !important;
          border: 1px solid grey;
          border-radius: 10px;

          .country.highlight {
            background-color: #d4b768;
            color: #fcfcfc;
          }
          .country:hover {
            background-color: #d4b768;

            color: #000000 !important;
            .dial-code:hover {
              color: #000000 !important;
            }
          }
        }
        .flag-dropdown.open {
          background-color: #1d1d1d !important;
          margin-bottom: 15px !important;
          .selected-flag {
            background-color: #d4b768 !important;
            &:focus {
              background: #d4b768 !important;
            }
            &:hover {
              background: #d4b768 !important;
            }
          }
        }
      }
      @media (max-width: 768px) {
        max-width: 100%;
      }
      .form-control {
        min-height: 48px;
        width: 100%;
        background: #fcfcfc;
        border: 1px solid #d4b768;
        transition: none !important;
        color: #000000 !important;
        font-weight: 300 !important;
        font-size: 18px !important;
        padding-left: 45px !important;
        .flag-dropdown {
          outline: none !important;
        }
      }
      .form-control:focus {
        outline: none !important;
        box-shadow: none !important;
      }
      .flag-dropdown {
        background-color: #d4b768 !important;
        border: none !important;
        &:hover {
          background: #d4b768 !important;
        }
      }
    }
  }
}
.inputFieldLabel {
  margin-bottom: 4px;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}
.customBtn {
  background-color: #d4b768;
  border: 2px solid #d4b768;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  min-width: 100px;
  &:hover {
    background-color: #fff;
    color: #d4b768;
  }
  &:focus {
    border-color: #d4b768;
  }
}
.uploadedFileInp {
  width: 100%;
  box-shadow: none;
  color: #1d1d1d;
  height: 48px;
  background-color: #fcfcfc;
  border: 1px solid #d4b768;
  border-radius: 5px;
  color: #1d1d1d;
  display: flex;
  font-size: 16px;
  padding: 12px 24px;
}
.uploadedFileLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  color: #1d1d1d;
}
.deleteUploadedFile {
  color: #d4b768;
  cursor: pointer;
  svg {
    font-size: 34px;
    margin-bottom: 2px;
  }
}
